name: "Stage 4 - Post Release Validation"

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Stage 3 - Promote Release Package to APT Stores]
    types:
      - completed

jobs:

  on-success:
    name: On Success or Manual Dispatch
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - run: echo '::info::The triggering workflow passed or manual dispatch was used.'

  validate:
    name: Validate Release
    runs-on: ubuntu-latest
    needs: on-success
    steps:
      - name: Install Homebridge
        run: |
          curl -sSfL https://repo.homebridge.io/KEY.gpg | sudo gpg --dearmor -o /usr/share/keyrings/homebridge.gpg
          echo "deb [signed-by=/usr/share/keyrings/homebridge.gpg] https://repo.homebridge.io stable main" | sudo tee /etc/apt/sources.list.d/homebridge.list > /dev/null
          sudo apt-get update
          sudo apt-get install -y homebridge

      - name: Display APT Pkg Version
        id: installed-version
        run: |
          dpkg -l homebridge
          echo "homebridgeversion=\"`dpkg -l homebridge | tail -1 | awk '{ print $3 }'`\"" >> "$GITHUB_OUTPUT"

      - name: Validate Homebridge
        run: |
          sudo hb-service status
          sudo hb-service view

      - name: List available homebridge-apt-pkg versions
        run: |
          sudo apt-cache madison homebridge

      - name: Published
        run: echo "::notice::Published on APT - ${{ steps.installed-version.outputs.homebridge-version }}"